<div class="flex flex-auto">
    <form
        class="flex flex-auto flex-col overflow-y-auto p-6 pt-10 sm:p-8 sm:pt-10"
        [formGroup]="taskForm"
    >
        <!-- Header -->
        <div class="-ml-4 -mt-3 flex items-center justify-between">
            <!-- Mark as ... button -->
            <button class="pl-3.5 pr-4" mat-button (click)="toggleCompleted()">
                <!-- Mark as complete -->
                @if (!taskForm.get('completed').value) {
                    <div class="flex items-center justify-center">
                        <mat-icon
                            [svgIcon]="'heroicons_outline:check-circle'"
                        ></mat-icon>
                        <span class="ml-2 font-semibold">MARK AS COMPLETE</span>
                    </div>
                }

                <!-- Mark as incomplete -->
                @if (taskForm.get('completed').value) {
                    <div class="flex items-center justify-center">
                        <mat-icon
                            class="text-primary"
                            [svgIcon]="'heroicons_outline:check-circle'"
                        ></mat-icon>
                        <span class="ml-2 font-semibold"
                            >MARK AS INCOMPLETE</span
                        >
                    </div>
                }
            </button>

            <div class="flex items-center">
                <!-- More menu -->
                <button mat-icon-button [matMenuTriggerFor]="moreMenu">
                    <mat-icon
                        [svgIcon]="'heroicons_outline:ellipsis-vertical'"
                    ></mat-icon>
                </button>
                <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item (click)="deleteTask()">
                        <mat-icon
                            [svgIcon]="'heroicons_outline:trash'"
                        ></mat-icon>
                        <span
                            >Delete </span
                        >
                    </button>
                </mat-menu>

                <!-- Close button -->
                <a mat-icon-button [routerLink]="['../']">
                    <mat-icon [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
                </a>
            </div>
        </div>

        <mat-divider class="mb-8 mt-6"></mat-divider>

        <!-- Notes -->
        <div class="mt-8">
            <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                <mat-label>Content</mat-label>
                <textarea
                    matInput
                    [formControlName]="'content'"
                    [spellcheck]="false"
                    cdkTextareaAutosize
                ></textarea>
            </mat-form-field>
        </div>
    </form>
</div>
